{
  "swagger": "2.0",
  "info": {
    "description": "This is online converter pdf to jpeg",
    "version": "1.0.0",
    "title": "Converter PDF to JPEG",
    "termsOfService": "http://pdf2jpeg.ru/terms/",
    "contact": {
      "email": "api@pdf2jpeg.ru"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "pdf2jpeg.ru",
  "basePath": "/api",
  "tags": [
    {
      "name": "slider",
      "description": "Everything about sliders",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://pdf2jpeg.ru"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/slider/{sliderId}": {
      "get": {
        "tags": [
          "slider"
        ],
        "summary": "Find slider by ID",
        "description": "Returns a single slider",
        "operationId": "getsliderById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sliderId",
            "in": "path",
            "description": "ID of slider to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/slider"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Slider not found"
          }
        }
      }
    }
  },
  "definitions": {
    "slider": {
      "type": "object",
      "required": [
        "id",
        "imagesLinks"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "imagesLinks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "xml": {
        "name": "slider"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Converter PDF to JPEG",
    "url": "http://pdf2jpeg.ru"
  }
}